<div class="col-3 card">
    <p>{{name}} </p>
    {{#if (isHappy happiness)}}
    <button class="btn btn-outline-success">
    {{else}}
    <button class="btn btn-outline-danger">
    {{/if}}
        <img src="{{species.image}}" alt="">
    </button>

    <p>Happiness: {{happiness}}</p>
</div>

