<div class="d-grid gap-2">
<input id="pokemonName" type="text" placeholder="Enter a name for your pokemon">
    <button id="prev" class="btn btn-primary"> Previous 5 </button>

    
            <button type="button" class="btn btn-info">
                <img class="species" id="slot1" src="" alt="">
            </button>
    
            <button type="button" class="btn btn-info">
                <img class="species" id="slot2" src="" alt="">
            </button>
     
            <button type="button" class="btn btn-info">
                <img class="species" id="slot3" src="" alt="">
            </button>
      
            <button type="button" class="btn btn-info">
                <img class="species" id="slot4" src="" alt="">
      
            <button type="button" class="btn btn-info">
                <img class="species" id="slot5" src="" alt="">
            </button>
    
    <button id="next" class="btn btn-primary"> Next 5 </button>
</div>

<script src="/js/species-table.js"></script>
