<button id="prev"> Previous 6 </button>
<table>
    <tr id="table-row">
        <th>
            <button>
                <img id="slot1" src="" alt="">
            </button>
        </th>
        <th>
            <button>
                <img id="slot2" src="" alt="">
            </button>
        </th>
        <th>
            <button>
                <img id="slot3" src="" alt="">
            </button>
        </th>
        <th>
            <button>
                <img id="slot4" src="" alt="">
            </button>
        </th>
        <th>
            <button>
                <img id="slot5" src="" alt="">
            </button>
        </th>
        <th>
            <button>
                <img id="slot6" src="" alt="">
            </button>
        </th>
    </tr>             
</table>
<button id="next"> Next 6 </button>
<script src="../../js/species-table.js"></script>
