<section class="container">
    <div class="row">
        <h1 class="col-8">Build your Pokehome</h1>
        <h3 class="col-4">View </h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="card"> View your other Homes</div>
            </div>
            <div class="row">
                <div class="card"> Home Preview </div>
                <h2>
                    {{name}}
                </h2>
                {{>pokehome-details}}
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Select Pokemon to Add</h3>
                <div class="">
                    {{> species-table}}
                </div>
            </div>
        </div>
    </div>    
</section>