<body class="d-flex flex-wrap justify-content-center bg-secondary">
    
<section class="container">
    <div class="row">
        <h1 class="col-8">Build your Pokehome</h1>
        <h3 class="col-4">View </h3>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                    <a class="btn color-white btn-primary"href="/dashboard">View your other Homes</a>
                    <button id="image-create" class="btn btn-success">Generate your home as an image</button> 
            </div>
            <div class="row">
                <div class="card"> Home Preview </div>
                <h2>
                    {{name}}
                </h2>
                    {{>pokehome-details}}
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <h3>Select Pokemon to Add</h3>
                <div class="">
                    {{> species-table}}
                </div>
            </div>
        </div>
    </div>    
</section>
</body>
<script src="/js/image.js"></script>