<body>
  <!-- Build Your Zoo Button Section -->
  <div class="container text-center">
    <h1>Welcome to the Pokezoo</h1>
    <p>Build your own home and manage your Pokemon collection!</p>
    <button class="btn btn-primary" id="build-zoo-button">Build Your PokeZoo</button>
  </div>



  <!-- Sample Zoo Section -->
  <div class="mt-2 container text-center">
    <h2>Explore a Pokehome</h2>
    <p>Take a look at a sample home created by another user:</p>
    <!-- Add your Handlebars template code here to display a sample zoo or another user's zoo -->
    <img src="/downloads/image.png" alt="">
  </div>

  <!-- JavaScript Code -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Handle button clicks and perform necessary actions
    $(document).ready(function () {
      $("#build-zoo-button").click(function () {
        // Redirect to the build zoo page
        window.location.href = "/dashboard";
      });

    });
  </script>
</body>

</html>